body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    background-color: #f49030;
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    gap: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 16px;
    font-size: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar img {
    width: 100px;
    height: auto;
}

.lower-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.lower-bar img {
    border: 3px solid #35364a;
    border-radius: 20px;
}

.disc {
    width: 400px;
}

.lower-bar button {
    color: black;
    background-color: #F3F0EE;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.fundamentals {
    background-color:#f3f0ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lessons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    height: 225px;
    border: 3px solid #3c3f4c;
    border-radius: 5px;
}
.card p {
    text-align: center;
    font-weight: bold;
}

.quote {
    background-color: #f49030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
