@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;
    font-family: "Funnel Display", sans-serif;
    background-color: #f3f0ee;
}
.header {
    background-color: #f49030;
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    gap: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 16px;
    font-size: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar img {
    width: 100px;
    height: auto;
}

.lower-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.lower-bar img {
    border: 3px solid #35364a;
    border-radius: 20px;
}

.disc {
    width: 400px;
}



.fundamentals {
    background-color:#f3f0ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lessons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    height: 225px;
    border: 3px solid #3c3f4c;
    border-radius: 5px;
}
.card p {
    text-align: center;
    font-weight: bold;
}

.bottom {
    background-color: #dfe0df;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    
}

.quote-1,
.quote-2,
.quote-3{
    font-family: "Funnel Display", sans-serif;
    border-radius: 10px;
}

.quote-1,
.quote-3 {
    align-self: flex-start;
    margin-right: 128px;
}

.quote-2,
.quote-name {
    font-family: "Funnel Display", sans-serif;
    align-self: flex-end;
}

.ad{
    background-color: #f49030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 44px 64px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}


.footer {
    background-color: #35364a;
}

.footer p {
    color: 	#f3f0ee;
    text-align: center;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #3c3f4c;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color:	#3c3f4c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #35364a;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
